image: cirrusci/flutter:latest

before_script:
  - flutter channel stable
  - flutter upgrade
  - flutter config --enable-web
  - flutter pub get

stages:
  # - test
  - deploy

# test:
#   stage: test
#   script: 
#   tags:
#     - flutter

deploy:
  stage: build
  only:
    - master
  script:
    - sh deploy.sh
  tags:
    - flutter