name: Build Web
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Build Web
    env:
      my_secret: ${{secrets.commit_secret}}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - run: flutter config --enable-web
      - run: flutter pub get
      - run: ./copy_web_env.sh development
      - run: flutter build web --release --base-href '/Zheshi-Blockie/' --dart-define ENV_FILE_NAME=env/development.env
      - run: |
          cd build/web
          git init
          git config --global user.email 957458041@qq.com
          git config --global user.name lukailun
          git status
          git remote add origin https://${{secrets.commit_secret}}@github.com/lukailun/Zheshi-Blockie.git
          git checkout -b gh-pages
          git add --all
          git commit -m "update"
          git push origin gh-pages -f
